<%- include("partials/header.ejs") %>

<div class="container">
  <h1 class="text-center mt-5">Weathery</h1>
  <form action="/weather" method="POST" class="mt-3">
      <div class="form-group">
          <label for="city" class="label-city" style="margin-bottom: 20px;">Enter City Name:</label>
          <input type="text" class="form-control" id="city" name="city" placeholder="e.g., Ankara" required>
      </div>
      <button type="submit"style="margin-top:20px;" class="btn btn-primary">Get Weather</button>
  </form>

  <% if (locals.error) { %>
    <p style="color: red; text-align: center; margin-top: 20px;"><%= error %></p>
  <% } %>

  <% if (locals.weather) { %>
  <div class="weather-card mt-5">
      <div class="weather-header">
        <div class="spin">
          <img src="<%= weather.current.weather_icons[0] %>" alt="Weather Icon" class="weather-icon">
        </div>
          <div class="location-info">
              <h2><%= weather.location.name %>, <%= weather.location.country %></h2>
              <p id="formattedDate"><strong>Date & Time:</strong> <span><%= weather.location.localtime %></span></p>
          </div>
      </div>
      <div class="weather-details">
          <p><strong>Temperature:</strong> <%= weather.current.temperature %>°C</p>
          <p><strong>Feels Like:</strong> <%= weather.current.feelslike %>°C</p>
          <p><strong>Condition:</strong> <%= weather.current.weather_descriptions[0] %></p>
          <p><strong>Wind:</strong> <%= weather.current.wind_speed %> km/h (<%= weather.current.wind_dir %>)</p>
      </div>
  </div>
  <% } %>
</div>

<script>
    function formatDate(dateString) {
        const date = new Date(dateString);
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        const formattedDate = date.toLocaleDateString('en-US', options).replace(",", "") + ",";
        const formattedTime = date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });
        return `${formattedDate} ${formattedTime}`;
    }

    <% if (weather) { %>
        document.getElementById("formattedDate").innerHTML = `<strong>Date & Time:</strong> ${formatDate("<%= weather.location.localtime %>")}`;
    <% } %>
</script>

<%- include("partials/footer.ejs") %>
